# This is the top-most .editorconfig file
root = true

[*] # General settings for all files
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
# Override for Go files to use tabs, as is standard
indent_style = tab
indent_size = 4
tab_width = 4

[*.templ]
# Align templ files with gofmt/templ fmt (tabs)
indent_style = tab
indent_size = 4
tab_width = 4

[Makefile]
indent_style = tab
indent_size = 4
tab_width = 4
